body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #e6faff;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/*styled title banner*/
h1, .lead{
  color: #f0eff5;
  font-family: fantasy;
  text-shadow: 0.2rem 0.1rem black;
  

}
/*added gradient8*/
.jumbotron {
  text-align: center;
  background-color: transparent;
  background-image: linear-gradient(45deg, #3008fa 0%, #2bd2ff 52%, #07fdfd 90%);;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/*added background color and font weight before timeTracker()event*/
.description{
  text-align: center;
  font-weight: bold;
  white-space: pre-wrap;
  /*background-color: rgb(184, 206, 245);*/
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

/*added gradient and shadow*/
.hour {
  font-weight: bold;
  background-color: #06AED5;
  color: white;
  text-shadow: 0.1rem 0.1rem black;
  border-top: 1px dashed #000000;
  box-shadow: -0.2rem 0.2rem black;
  background-image: linear-gradient(45deg, #3008fa 0%, #2bd2ff 52%, #07fdfd 90%);
  border-radius: 0.5rem;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

/*added gradient and shadow*/
.save-Btn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  box-shadow: 0.1rem 0.1rem black;
  background-image: linear-gradient(45deg, #3008fa 0%, #2bd2ff 52%, #07fdfd 90%);
  
}

/*added shadow and hover translation*/
.save-Btn i:hover {
  font-size: 45px;
  transition: all .3s ease-in-out;
  transform: translateY(-0.1rem);
  transition: transform 200ms;
  box-shadow: 0.1rem 0.1rem white;
}

/*added shadow to icon*/
.save-Btn i{
  box-shadow: 0.1rem 0.1rem black;
  font-size: 40px;

}




